*{
  margin : 0;
  padding : 0;
}
body {
  box-sizing: border-box;
  background-color: yellowgreen;
}
.container{
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  background-color: aqua;
  border: 10px solid salmon;
}
.navbar{
  list-style-type: none;
}

.navbar li{
  display: inline-block;
  padding: 40px ;
  margin-top: 0;
  margin-left: -20px;

 }
 .logo{
  width: 100px;
  display: flex;
  justify-content: center;
  background-color: sandybrown;
 }
 




 